
<%= stylesheet_link_tag 'frame', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag 'menu', media: 'all', 'data-turbolinks-track' => true %>
<body>

  <div class="container">
    <!--ヘッダーに関する記述---------------------------------------------------------->
        <%= render 'layouts/header' %>
    <!--ヘッダーに関する記述ここまで---------------------------------------------------->

  <main class="content">
        <section class="contents">
        <p><h3 class="heading">クッキンマウスくんの献立表</h3></p>
          <!--主菜---------------------------------------------------->
        <article class="grid">
          <h3><%= label_tag 'main',@main.dishname %></h3>
          <% @link = "/recipe/" + @main.id.to_s %>
          <%= image_tag(@main.image,:align => "left") %>
          <div style="padding:10px 0px 10px 10px ; display:box; display:-moz-box; display:-webkit-box;">
            <ul><i class="fa fa-lemon-o" aria-hidden="true" style="padding:0px 5px 10px 10px;font-style:bold"></i>材料
            <% @mainfood = JSON.parse(@main.food) %>
            <% @mainfood.each do |key,value| %>
              <li class="foodlist">
                <% if value[0].to_i > 710 %>
                  <%= Food.find(value[0].to_i-20).fname %>
                <% else %>
                  <%= Food.find(value[0]).fname %>
                <% end %>
                <% value = value[1].to_i %>
             　  <%= value = value * session[:people].to_i %>
                <%= "グラム" %>
              </li>
            <% end %>
          </div>
          <p class="readmore"><%= link_to '» レシピを見る', @link %></p>

        </article>
        <!--主菜ここまで--------------------------------------------->

        <!--副菜---------------------------------------------------->
        <% if not @sub.nil? %>
        <% @sub.each do |key,value| %>
          <article class="grid">
            <h3><%= label_tag 'sub',key.dishname %></h3>
            <% @link = "/recipe/" + key.id.to_s %>
            <%= image_tag(key.image,:align => "left" ) %>
            <div style="padding:10px 0px 10px 10px ; display:box; display:-moz-box; display:-webkit-box;">
              <ul><i class="fa fa-lemon-o" aria-hidden="true" style="padding:0px 5px 10px 10px;font-style:bold"></i>材料
              <% @subfood = JSON.parse(key.food) %>
              <% @subfood.each do |key,value| %>
                <li class="foodlist">
                <% if value[0].to_i > 710 %>
                  <%= Food.find(value[0].to_i-20).fname %>
                <% else %>
                  <%= Food.find(value[0]).fname %>
                <% end %>
                <% value = value[1].to_i %>
             　  <%= value = value * session[:people].to_i %>
                <%= "グラム" %>
              </li>
            <% end %>
          </div>
            <p class="readmore"><%= link_to '» レシピを見る', @link %></p>
          </article>
        <% end %>
        <% end %>
        <!--副菜ここまで--------------------------------------------->
        <p class="readmore"><%= link_to "» 提案をもう一度受ける！", question_path %></p>
      </section>
  </main>

  <!--フッターに関する記述----------------------------------------------------------->
    <%= render 'layouts/footer' %>
  <!--フッターここまで--------------------------------------------------------------->

  </div><!--/.container-->
  <!--javascriptのファイルの読み込み等-->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
