<%= stylesheet_link_tag 'top-style', media: 'all', 'data-turbolinks-track' => true %>


  <body>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <div class="container">

<!--ヘッダーに関する記述---------------------------------------------------------->
    <%= render 'layouts/header' %>
<!--ヘッダーに関する記述ここまで---------------------------------------------------->

<!--メインコンテンツに関する記述----------------------------------------------------->
      <main class="contents">

<div class="row">
  <% if @allstr.nil? %>
    <h1>アレルギー登録なし</h1>
  <% else %>
    <h1>アレルギー登録完了しました</h1>
    <b>登録したアレルギー</b>
    <br>
    <% allname = @allstr.split(",") %>
    <% allname.each do |name| %>
      <% list = Allergy.find(name) %>
      <%= list.aname %><br>
    <% end %>
  <% end %>
  <br>
  <%= link_to 'アレルギー再設定', :back %><br>
  <%= link_to 'マイページ', user_page_path %>
</div>

</section>
</div><!--/.contents__inner season-resipes-->
</main>
<!--メインコンテンツに関する記述ここまで---------------------------------------------->

<!--フッターに関する記述----------------------------------------------------------->
<%= render 'layouts/footer' %>
<!--フッターここまで--------------------------------------------------------------->

</div><!--/.container-->

<!--javascriptのファイルの読み込み等-->
<script>
$(document).ready(function(){
$('.bxslider').bxSlider({
mode: 'fade',
speed: 5000,
randomStart: true,
pager: false,
controls: false,
auto: true
});
});
</script>
<script type="text/javascript">
$(document).ready(function(){
if ($(window).width() > 420) {
$('.akineta').bgswitcher({
images: ['/img/top/slide/sample.jpg','/img/top/slide/sample2.jpg','/img/top/slide/sample3.jpg'],
interval: 5000
});
}
});
</script>
